
#upload2 {
    height: 200px;
    display: grid;
    grid-template-columns: 3% 94% 3%;
    grid-template-rows: 85% 15%;
}

#upload-2-row-1 {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 3%; */
    /* padding: 1em; */
}

#treedata2 {
    height: 100px;
}

#upload-2-row-2 {
    grid-column: 2/3;
    grid-row: 2/3;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
}

/****************************************************************/
/* Server button classes */
/****************************************************************/
.modal_parent {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

.modal {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 0.4rem;
width: 350px;
padding: 1.3rem;
min-height: 200px;
position: absolute;
z-index: 2;
top: 20%;
background-color: white;
border: 1px solid #ddd;
border-radius: 15px;
}

.modal .flex {
display: flex;
align-items: center;
justify-content: space-between;
}

.modal input {
padding: 0.7rem 1rem;
border: 1px solid #ddd;
border-radius: 5px;
font-size: 0.9em;
}

.modal p {
font-size: 0.9rem;
color: #777;
margin: 0.4rem 0 0.2rem;
}

button {
cursor: pointer;
border: none;
font-weight: 600;
}

.btn {
display: inline-block;
padding: 0.8rem 1.4rem;
font-weight: 700;
background-color: black;
color: white;
border-radius: 5px;
text-align: center;
font-size: 1em;
}

.btn-open {
position: absolute;
bottom: 150px;
}

.btn-close {
transform: translate(10px, -20px);
padding: 0.5rem 0.7rem;
background: #eee;
border-radius: 50%;
}

.parse-overlay-class {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
backdrop-filter: blur(3px);
z-index: 1;
}

.hidden {
display: none;
}

/****************************************************************/
/* End of server button classes */
/****************************************************************/