{
"orientation":"r-to-l",
"lemma":"false",
"pos":{
	"values":[
	{"label":"نقاط",
			"key":"z",
			"group":"1"},
			{"label":"حرف",
					"key":"z",
					"group":"1"},
			{"label":"فعل",
					"key":"z",
					"group":"1"},
					{"label":"اسم",
							"key":"z",
							"group":"1"}
			]
	},
"relation":{
	"values":[

			{"label":"خبر",
					"key":"z",
					"group":"1"},
			{"label":"مبتدأ",
					"key":"z",
					"group":"1"},



			{"label":"معطوف",
					"key":"z",
					"group":"2"},
			{"label":"حال",
					"key":"z",
					"group":"2"},

			{"label":"مجرور",
					"key":"z",
					"group":"2"},

			{"label":"مفعول به",
					"key":"z",
					"group":"2"},
			{"label":"فاعل",
					"key":"z",
					"group":"2"},

					{"label":"بدل",
							"key":"z",
							"group":"3"},
			{"label":"تمييز",
					"key":"z",
					"group":"3"},
  			{"label":"مضاف إليه",
					"key":"z",
					"group":"3"},
			{"label":"صفة",
					"key":"z",
					"group":"3"},

			{"label":"---",
					"key":"z",
					"group":"4"},

			{"label":"متعلق",
					"key":"z",
					"group":"4"}


			]
	},
"features":[ ],
"defaultFeatures":[ ],
"newNodeDefaults":{
		"pos":"اسم",
		"relation":"---",
		"name":"*"
	}
}
