{
"orientation":"r-to-l",
"lemma":"true",
"pos":{
	"values":[
	{"label":"نقاط.PNX", "key":"z","group":"1"},
   	{"label":"حرف.PRT", "key":"z","group":"1"},
	{"label":"فعل.VRB", "key":"z", "group":"1"},
	{"label":"فعل مجهول.VRB-PASS", "key":"z", "group":"1"},
	{"label":"اسم.NOM","key":"z","group":"1"},
	{"label":"اسم علم.PROP","key":"z","group":"1"}
	]
	},
"relation":{
	"values":[
 	{"label":"مبتدأ.SBJ", "key":"z", "group":"1"},
	{"label":"فاعل.SBJ", "key":"z", "group":"1"},
	{"label":"اسم كان.SBJ", "key":"z", "group":"1"},
	{"label":"اسم إن.SBJ", "key":"z", "group":"1"},	
	{"label":"مبتدأ.TPC", "key":"z", "group":"1"},
	{"label":"خبر.PRD", "key":"z", "group":"1"},
	{"label":"مفعول به.OBJ", "key":"z", "group":"2"},
	{"label":"مجرور.OBJ", "key":"z", "group":"2"},
	{"label":"معطوف.OBJ", "key":"z", "group":"2"},
	{"label":"منادى.OBJ", "key":"z", "group":"2"},
	{"label":"متعلق.MOD", "key":"z", "group":"4"},
	{"label":"صفة.MOD", "key":"z", "group":"3"},
	{"label":"حال.MOD", "key":"z", "group":"3"},
 	{"label":"بدل.MOD", "key":"z", "group":"3"},
	{"label":"ظرف.MOD", "key":"z", "group":"4"},
 	{"label":"عاطف.MOD", "key":"z", "group":"4"},
	{"label":"تمييز.TMZ", "key":"z", "group":"4"},
	{"label":"مضاف إليه.IDF", "key":"z", "group":"4"},
	{"label":"---", "key":"z", "group":"4"}
	]
	},
"features":[ ],
"defaultFeatures":[ ],
"newNodeDefaults":{
		"pos":"اسم.NOM",
		"relation":"---",
		"name":"*"
	}
}
