{
    "display_text": "text",
    "orientation": "r-to-l",
    "lemma": "false",
    "features": [],
    "defaultFeatures": [],
    "newNodeDefaults": {
        "pos": "اسم عام",
        "relation": "---",
        "name": "*"
    },
    "pos": {
        "values": [
            {
                "label": "اسم عام",
                "group": 1,
                "key": "i"
            },
            {
                "label": "اسم علم",
                "group": 1,
                "key": "i"
            },
            {
                "label": "اسم كم",
                "group": 1,
                "key": "i"
            },
            {
                "label": "اسم عدد",
                "group": 1,
                "key": "i"
            },
            {
                "label": "اسم موصول",
                "group": 2,
                "key": "i"
            },
            {
                "label": "اسم استفهام",
                "group": 2,
                "key": "i"
            },
            {
                "label": "اسم إشارة",
                "group": 2,
                "key": "i"
            },
            {
                "label": "اسم تعجب",
                "group": 2,
                "key": "i"
            },
            {
                "label": "اسم فعل",
                "group": 2,
                "key": "i"
            },
            {
                "label": "صفة",
                "group": 3,
                "key": "s"
            },
            {
                "label": "صفة تفضيل",
                "group": 3,
                "key": "s"
            },
            {
                "label": "صفة عدد",
                "group": 3,
                "key": "s"
            },
            {
                "label": "ضمير",
                "group": 3,
                "key": "d"
            },
            {
                "label": "ظرف",
                "group": 3,
                "key": "t"
            },
            {
                "label": "فعل",
                "group": 4,
                "key": "f"
            },
            {
                "label": "فعل ناسخ",
                "group": 4,
                "key": "f"
            },
            {
                "label": "فعل مبني للمجهول",
                "group": 4,
                "key": "f"
            },
            {
                "label": "حرف جر",
                "group": 5,
                "key": "h"
            },
            {
                "label": "حرف عطف",
                "group": 5,
                "key": "h"
            },
            {
                "label": "حرف نفي",
                "group": 5,
                "key": "h"
            },
            {
                "label": "حرف ناسخ",
                "group": 5,
                "key": "h"
            },
            {
                "label": "حرف استفهام",
                "group": 5,
                "key": "h"
            },
            {
                "label": "كم استفهامية",
                "group": 5,
                "key": "k"
            },
            {
                "label": "حرف استثناء",
                "group": 6,
                "key": "h"
            },
            {
                "label": "حرف استقبال",
                "group": 6,
                "key": "h"
            },
            {
                "label": "حرف توكيد",
                "group": 6,
                "key": "h"
            },
            {
                "label": "حرف جزم",
                "group": 6,
                "key": "h"
            },
            {
                "label": "حرف جواب",
                "group": 6,
                "key": "h"
            },
            {
                "label": "حرف ربط",
                "group": 6,
                "key": "h"
            },
            {
                "label": "حرف لفعل",
                "group": 7,
                "key": "h"
            },
            {
                "label": "حرف مضارعة",
                "group": 7,
                "key": "h"
            },
            {
                "label": "حرف نداء",
                "group": 7,
                "key": "h"
            },
            {
                "label": "حرف نصب",
                "group": 7,
                "key": "h"
            },
            {
                "label": "أداة",
                "group": 7,
                "key": "a"
            },
            {
                "label": "أداة تعريف",
                "group": 7,
                "key": "a"
            },
            {
                "label": "رقم",
                "group": 8,
                "key": "r"
            },
            {
                "label": "أجنبي",
                "group": 8,
                "key": "a"
            },
            {
                "label": "اختصار",
                "group": 8,
                "key": "i"
            },
            {
                "label": "تعجب",
                "group": 8,
                "key": "t"
            },
            {
                "label": "علامة ترقيم",
                "group": 8,
                "key": "a"
            }
        ]
    },
    "relation": {
        "values": [
            {
                "label": "مبتدأ لخبر",
                "group": 1,
                "key": "m"
            },
            {
                "label": "اسم لناسخ",
                "group": 1,
                "key": "i"
            },
            {
                "label": "فاعل",
                "group": 1,
                "key": "f"
            },
            {
                "label": "نائب فاعل",
                "group": 1,
                "key": "n"
            },
            {
                "label": "خبر",
                "group": 2,
                "key": "k"
            },
            {
                "label": "نعت",
                "group": 2,
                "key": "n"
            },
            {
                "label": "إضافة",
                "group": 2,
                "key": "e"
            },
            {
                "label": "تمييز",
                "group": 2,
                "key": "t"
            },
            {
                "label": "معطوف",
                "group": 3,
                "key": "m"
            },
            {
                "label": "مجرور",
                "group": 3,
                "key": "m"
            },
            {
                "label": "مفعول به",
                "group": 3,
                "key": "m"
            },
            {
                "label": "مرتبط",
                "group": 3,
                "key": "m"
            },
            {
                "label": "بدل",
                "group": 3,
                "key": "b"
            },
            {
                "label": "مؤكد",
                "group": 4,
                "key": "m"
            },
            {
                "label": "منادى",
                "group": 4,
                "key": "m"
            },
            {
                "label": "مستثنى",
                "group": 4,
                "key": "m"
            },
            {
                "label": "متعلق",
                "group": 4,
                "key": "m"
            },
            {
                "label": "حال",
                "group": 5,
                "key": "h"
            },
            {
                "label": "مفعول فيه",
                "group": 5,
                "key": "m"
            },
            {
                "label": "مفعول لأجله",
                "group": 5,
                "key": "m"
            },
            {
                "label": "مفعول مطلق",
                "group": 5,
                "key": "m"
            },
            {
                "label": "جملة صلة",
                "group": 6,
                "key": "j"
            },
            {
                "label": "جملة صفة",
                "group": 6,
                "key": "j"
            },
            {
                "label": "جملة حال",
                "group": 6,
                "key": "j"
            },
            {
                "label": "جواب شرط",
                "group": 6,
                "key": "j"
            },
            {
                "label": "مجزوم",
                "group": 7,
                "key": "m"
            },
            {
                "label": "منصوب",
                "group": 7,
                "key": "m"
            },
            {
                "label": "ترقيم",
                "group": 7,
                "key": "t"
            },
            {
                "label": "---",
                "group": 7,
                "key": "-"
            },
            {
                "label": "غير عامل",
                "group": 7,
                "key": "g"
            }
        ]
    }
}
