{
"orientation":"r-to-l",
"lemma":"true",
"pos":{
	"values":[
	{"label":"نقاط", "key":"z","group":"1"},
   	{"label":"حرف", "key":"z","group":"1"},
	{"label":"فعل", "key":"z", "group":"1"},
	{"label":"فعل مجهول", "key":"z", "group":"1"},
	{"label":"اسم","key":"z","group":"1"},
	{"label":"اسم علم","key":"z","group":"1"}
	]
	},
"relation":{
	"values":[
 	{"label":"مبتدأ", "key":"z", "group":"1"},
	{"label":"فاعل", "key":"z", "group":"1"},
	{"label":"اسم كان", "key":"z", "group":"1"},
	{"label":"اسم إن", "key":"z", "group":"1"},	
	{"label":"مبتدأ", "key":"z", "group":"1"},
	{"label":"خبر", "key":"z", "group":"1"},
	{"label":"مفعول به", "key":"z", "group":"2"},
	{"label":"مجرور", "key":"z", "group":"2"},
	{"label":"معطوف", "key":"z", "group":"2"},
	{"label":"منادى", "key":"z", "group":"2"},
	{"label":"متعلق", "key":"z", "group":"4"},
	{"label":"صفة", "key":"z", "group":"3"},
	{"label":"حال", "key":"z", "group":"3"},
 	{"label":"بدل", "key":"z", "group":"3"},
	{"label":"ظرف", "key":"z", "group":"4"},
 	{"label":"عاطف", "key":"z", "group":"4"},
	{"label":"تمييز", "key":"z", "group":"4"},
	{"label":"مضاف إليه", "key":"z", "group":"4"},
	{"label":"---", "key":"z", "group":"4"}
	]
	},
"features":[ ],
"defaultFeatures":[ ],
"newNodeDefaults":{
		"pos":"اسم",
		"relation":"---",
		"name":"*"
	}
}
