{
"display_text":"text",
"orientation":"r-to-l",
"lemma":"false",
"pos":{
	"values":[
			{"label":"nom",
					"key":"n",
					"group":"1"},
			{"label":"vrb",
					"key":"v",
					"group":"1"},
			{"label":"prt",
					"key":"p",
					"group":"1"},
			{"label":"pnx",
					"key":"x",
					"group":"1"},
			{"label":"prop",
					"key":"o",
					"group":"2"},
			{"label":"vrb-pass",
					"key":"a",
					"group":"2"},
			{"label":"foreign",
					"key":"f",
					"group":"2"},
			{"label":"err",
					"key":"e",
					"group":"3"}
			]
	},
"relation":{
	"values":[
		{"label":"SBJ",
			"key":"s",
			"group":"1"},
		{"label":"OBJ",
			"key":"o",
			"group":"1"},
		{"label":"PRD",
			"key":"p",
			"group":"1"},
		{"label":"TPC",
					"key":"t",
					"group":"1"},
		{"label":"IDF",
					"key":"i",
					"group":"2"},
			{"label":"MOD",
					"key":"m",
					"group":"2"},
			{"label":"TMZ",
					"key":"z",
					"group":"2"},
			{"label":"---",
					"key":"q",
					"group":"3"}
			]
	},
"features":[],
"defaultFeatures":[],
"newNodeDefaults":{
		"pos":"NOM",
		"relation":"---",
		"name":"*"
	}
}
