{
"orientation":"r-to-l",
"lemma":"false",
"pos":{
	"values":[
			{"label":"nom",
					"key":"n",
					"group":"1"},
			{"label":"vrb",
					"key":"v",
					"group":"1"},
			{"label":"prt",
					"key":"p",
					"group":"1"},
			{"label":"pnx",
					"key":"x",
					"group":"1"},
			{"label":"prop",
					"key":"o",
					"group":"1"},
			{"label":"err",
					"key":"e",
					"group":"1"},
			{"label":"---",
					"key":"q",
					"group":"1"},
			{"label":"vrb-pass",
					"key":"a",
					"group":"1"}
			]
	},
"relation":{
	"values":[
			{"label":"---",
					"key":"q",
					"group":"1"},
			{"label":"IDF",
					"key":"i",
					"group":"1"},
			{"label":"SBJ",
					"key":"s",
					"group":"1"},
			{"label":"OBJ",
					"key":"o",
					"group":"1"},
			{"label":"PRD",
					"key":"p",
					"group":"1"},
			{"label":"MOD",
					"key":"m",
					"group":"1"},
			{"label":"TMZ",
					"key":"z",
					"group":"1"},
			{"label":"TPC",
					"key":"t",
					"group":"1"}
			]
	},
"features":[],
"defaultFeatures":[],
"newNodeDefaults":{
		"pos":"NOM",
		"relation":"---",
		"name":"*"
	}
}
