{
"orientation":"r-to-l",
"lemma":"false",
"pos":{
	"values":[
			{"label":"NOM",
					"key":"n",
					"group":"1"},
			{"label":"VRB",
					"key":"v",
					"group":"1"},
			{"label":"PRT",
					"key":"p",
					"group":"1"},
			{"label":"PNX",
					"key":"x",
					"group":"1"},
			{"label":"PROP",
					"key":"p",
					"group":"1"},
			{"label":"ERR",
					"key":"e",
					"group":"1"},
			{"label":"---",
					"key":"q",
					"group":"1"},
			{"label":"VRB-PASS",
					"key":"a",
					"group":"1"}
			]
	},
"relation":{
	"values":[
			{"label":"---",
					"key":"q",
					"group":"1"},
			{"label":"IDF",
					"key":"i",
					"group":"1"},
			{"label":"SBJ",
					"key":"s",
					"group":"1"},
			{"label":"OBJ",
					"key":"o",
					"group":"1"},
			{"label":"PRD",
					"key":"p",
					"group":"1"},
			{"label":"MOD",
					"key":"m",
					"group":"1"},
			{"label":"TMZ",
					"key":"z",
					"group":"1"},
			{"label":"TPC",
					"key":"t",
					"group":"1"}
			]
	},
"features":[
		{"name":"gen",
		 "display":"gender",
			"type":"list",
			"values":[
			{"value":"m", "display":"masculine"},
			{"value":"f", "display":"feminine"},
			{"value":"na", "display":"not applicable"}]
		},
		{"name":"num",
		 "display":"number",
			"type":"list",
			"values":[
			{"value":"u", "display":"unspecified"},
			{"value":"s", "display":"singular"},
			{"value":"d", "display":"dual"},
			{"value":"p", "display":"plural"},
			{"value":"na", "display":"not applicable"}]
		},
		{"name":"per",
		 "display":"person",
			"type":"list",
			"values":[
			{"value":"1", "display":"first"},
			{"value":"2", "display":"second"},
			{"value":"3", "display":"third"},
			{"value":"na", "display":"not applicable"}]
		},
		{"name":"vox",
		 "display":"voice",
			"type":"list",
			"values":[
			{"value":"u", "display":"unspecified"},
			{"value":"a", "display":"active"},
			{"value":"p", "display":"passive"},
			{"value":"na", "display":"not applicable"}]
		},
		{"name":"asp",
		 "display":"aspect",
			"type":"list",
			"values":[
			{"value":"p", "display":"perfective"},
			{"value":"i", "display":"imperfective"},
			{"value":"c", "display":"command"},
			{"value":"na", "display":"not applicable"}]
		},
		{"name":"mod",
		 "display":"mood",
			"type":"list",
			"values":[
			{"value":"u", "display":"unspecified"},
			{"value":"s", "display":"subjunctive"},
			{"value":"i", "display":"indicative"},
			{"value":"j", "display":"jussive"},
			{"value":"na", "display":"not applicable"}]
		},
		{"name":"stt",
		 "display":"state",
			"type":"list",
			"values":[
			{"value":"u", "display":"unspecified"},
			{"value":"i", "display":"indefinite"},
			{"value":"d", "display":"definite"},
			{"value":"c", "display":"construct"},
			{"value":"na", "display":"not applicable"}]
		},
		{"name":"cas",
		 "display":"case",
			"type":"list",
			"values":[
			{"value":"u", "display":"unspecified"},
			{"value":"n", "display":"nominative"},
			{"value":"g", "display":"accusative"},
			{"value":"a", "display":"genitive"},
			{"value":"na", "display":"not applicable"}]
		},
		{"name":"rat",
		 "display":"rationality",
			"type":"list",
			"values":[
			{"value":"u", "display":"unspecified"},
			{"value":"r", "display":"rational"},
			{"value":"i", "display":"irrational"},
			{"value":"na", "display":"not applicable"}]
		},
		{"name":"gloss",
		 "display":"Gloss",
			"type":"lexical"
		}
	],
"defaultFeatures":[
		{"pos":"nom",
			"features":[
				{"name":"per",
					"value":"N/A"
				},
				{"name":"asp",
					"value":"N/A"
				},
				{"name":"vox",
					"value":"N/A"
				},
				{"name":"mod",
					"value":"N/A"
				},
				{"name":"gen",
					"value":"m"
				},
				{"name":"num",
					"value":"s"
				},
				{"name":"stt",
					"value":"i"
				},
				{"name":"cas",
					"value":"u"
				},
				{"name":"rat",
					"value":"y"
				}
			]
		},
		{"pos":"vrb",
			"features":[
				{"name":"per",
					"value":"3"
				},
				{"name":"asp",
					"value":"p"
				},
				{"name":"vox",
					"value":"u"
				},
				{"name":"mod",
					"value":"u"
				},
				{"name":"gen",
					"value":"m"
				},
				{"name":"num",
					"value":"s"
				},
				{"name":"stt",
					"value":"N/A"
				},
				{"name":"cas",
					"value":"N/A"
				},
				{"name":"rat",
					"value":"N/A"
				}
			]
		},
		{"pos":"vrb-pass",
			"features":[
				{"name":"per",
					"value":"3"
				},
				{"name":"asp",
					"value":"p"
				},
				{"name":"vox",
					"value":"u"
				},
				{"name":"mod",
					"value":"u"
				},
				{"name":"gen",
					"value":"m"
				},
				{"name":"num",
					"value":"s"
				},
				{"name":"stt",
					"value":"N/A"
				},
				{"name":"cas",
					"value":"N/A"
				},
				{"name":"rat",
					"value":"N/A"
				}
			]
		},
		{"pos":"prt",
			"features":[
				{"name":"per",
					"value":"N/A"
				},
				{"name":"asp",
					"value":"N/A"
				},
				{"name":"vox",
					"value":"N/A"
				},
				{"name":"mod",
					"value":"N/A"
				},
				{"name":"gen",
					"value":"N/A"
				},
				{"name":"num",
					"value":"N/A"
				},
				{"name":"stt",
					"value":"N/A"
				},
				{"name":"cas",
					"value":"N/A"
				},
				{"name":"rat",
					"value":"N/A"
				}
			]
		},
		{"pos":"pnx",
			"features":[
				{"name":"per",
					"value":"N/A"
				},
				{"name":"asp",
					"value":"N/A"
				},
				{"name":"vox",
					"value":"N/A"
				},
				{"name":"mod",
					"value":"N/A"
				},
				{"name":"gen",
					"value":"N/A"
				},
				{"name":"num",
					"value":"N/A"
				},
				{"name":"stt",
					"value":"N/A"
				},
				{"name":"cas",
					"value":"N/A"
				},
				{"name":"rat",
					"value":"N/A"
				}
			]
		},
		{"pos":"prop",
			"features":[
				{"name":"per",
					"value":"N/A"
				},
				{"name":"asp",
					"value":"N/A"
				},
				{"name":"vox",
					"value":"N/A"
				},
				{"name":"mod",
					"value":"N/A"
				},
				{"name":"gen",
					"value":"m"
				},
				{"name":"num",
					"value":"s"
				},
				{"name":"stt",
					"value":"i"
				},
				{"name":"cas",
					"value":"u"
				},
				{"name":"rat",
					"value":"y"
				}
			]
		},
		{"pos":"err",
			"features":[
				{"name":"per",
					"value":"N/A"
				},
				{"name":"asp",
					"value":"N/A"
				},
				{"name":"vox",
					"value":"N/A"
				},
				{"name":"mod",
					"value":"N/A"
				},
				{"name":"gen",
					"value":"N/A"
				},
				{"name":"num",
					"value":"N/A"
				},
				{"name":"stt",
					"value":"N/A"
				},
				{"name":"cas",
					"value":"N/A"
				},
				{"name":"rat",
					"value":"N/A"
				}
			]
		},
		{"pos":"---",
			"features":[
				{"name":"per",
					"value":"N/A"
				},
				{"name":"asp",
					"value":"N/A"
				},
				{"name":"vox",
					"value":"N/A"
				},
				{"name":"mod",
					"value":"N/A"
				},
				{"name":"gen",
					"value":"N/A"
				},
				{"name":"num",
					"value":"N/A"
				},
				{"name":"stt",
					"value":"N/A"
				},
				{"name":"cas",
					"value":"N/A"
				},
				{"name":"rat",
					"value":"N/A"
				}
			]
		}
	],
"newNodeDefaults":{
		"pos":"NOM",
		"relation":"---",
		"name":"*"
	}
}
