{
"orientation":"l-to-r",
"display_text":"text",
"pos":{
	"values":[
			{"label":"adj",
					"key":"a",
					"group":"1"},
			{"label":"adv",
					"key":"a",
					"group":"1"},
			{"label":"adp",
					"key":"a",
					"group":"2"},
			{"label":"aux",
					"key":"a",
					"group":"2"},
			{"label":"cconj",
					"key":"c",
					"group":"2"},
			{"label":"det",
					"key":"d",
					"group":"2"},
			{"label":"intj",
					"key":"i",
					"group":"1"},
			{"label":"noun",
					"key":"n",
					"group":"1"},
			{"label":"num",
					"key":"n",
					"group":"2"},
			{"label":"propn",
					"key":"p",
					"group":"1"},
			{"label":"part",
					"key":"p",
					"group":"2"},
			{"label":"pron",
					"key":"p",
					"group":"2"},
			{"label":"punct",
					"key":"p",
					"group":"3"},
			{"label":"sconj",
					"key":"s",
					"group":"2"},
			{"label":"sym",
					"key":"s",
					"group":"3"},
			{"label":"verb",
					"key":"v",
					"group":"1"},
			{"label":"x",
					"key":"x",
					"group":"3"}
		]
	},
"relation":{
	"values":[
			{"label":"advcl",
					"key":"a",
					"group":"2"},
			{"label":"advmod",
					"key":"a",
					"group":"3"},
			{"label":"aux",
					"key":"a",
					"group":"4"},
			{"label":"appos",
					"key":"a",
					"group":"1"},
			{"label":"acl",
					"key":"a",
					"group":"2"},
			{"label":"amod",
					"key":"a",
					"group":"3"},
			{"label":"csubj",
					"key":"c",
					"group":"2"},
			{"label":"ccomp",
					"key":"c",
					"group":"2"},
			{"label":"cop",
					"key":"c",
					"group":"4"},
			{"label":"clf",
					"key":"c",
					"group":"4"},
			{"label":"case",
					"key":"c",
					"group":"4"},
			{"label":"conj",
					"key":"c",
					"group":"5"},
			{"label":"cc",
					"key":"c",
					"group":"5"},
			{"label":"compound",
					"key":"c",
					"group":"6"},
			{"label":"dislocated",
					"key":"d",
					"group":"1"},
			{"label":"discourse",
					"key":"d",
					"group":"3"},
			{"label":"det",
					"key":"d",
					"group":"4"},
			{"label":"dep",
					"key":"d",
					"group":"9"},
			{"label":"expl",
					"key":"e",
					"group":"1"},
			{"label":"fixed",
					"key":"f",
					"group":"6"},
			{"label":"flat",
					"key":"f",
					"group":"6"},
			{"label":"goeswith",
					"key":"g",
					"group":"8"},
			{"label":"iobj",
					"key":"i",
					"group":"1"},
			{"label":"list",
					"key":"l",
					"group":"7"},
			{"label":"mark",
					"key":"m",
					"group":"4"},
			{"label":"nsubj",
					"key":"n",
					"group":"1"},
			{"label":"nmod",
					"key":"n",
					"group":"1"},
			{"label":"nummod",
					"key":"n",
					"group":"1"},
			{"label":"obj",
					"key":"o",
					"group":"1"},
			{"label":"obl",
					"key":"o",
					"group":"1"},
			{"label":"orphan",
					"key":"o",
					"group":"8"},
			{"label":"parataxis",
					"key":"p",
					"group":"7"},
			{"label":"punct",
					"key":"p",
					"group":"9"},
			{"label":"reparandum",
					"key":"r",
					"group":"8"},
			{"label":"root",
					"key":"r",
					"group":"9"},
			{"label":"vocative",
					"key":"v",
					"group":"1"},
			{"label":"xcomp",
					"key":"x",
					"group":"2"}
		]
	},
"features":[
		{"name":"gen",
		 "display":"gender",
			"type":"list",
			"values":[
			{"value":"m", "display":"masculine"},
			{"value":"f", "display":"feminine"}]
		},
		{"name":"num",
		 "display":"number",
			"type":"list",
			"values":[
			{"value":"u", "display":"unsepcified"},
			{"value":"s", "display":"singular"},
			{"value":"d", "display":"dual"},
			{"value":"p", "display":"plural"}]
		},
		{"name":"per",
		 "display":"person",
			"type":"list",
			"values":[
			{"value":"1", "display":"first"},
			{"value":"2", "display":"second"},
			{"value":"3", "display":"third"}]
		},
		{"name":"vox",
		 "display":"voice",
			"type":"list",
			"values":[
			{"value":"u", "display":"unsepcified"},
			{"value":"a", "display":"active"},
			{"value":"p", "display":"passive"}]
		},
		{"name":"asp",
		 "display":"aspect",
			"type":"list",
			"values":[
			{"value":"p", "display":"perfective"},
			{"value":"i", "display":"imperfective"},
			{"value":"c", "display":"command"}]
		},
		{"name":"mod",
		 "display":"mood",
			"type":"list",
			"values":[
			{"value":"u", "display":"unsepcified"},
			{"value":"s", "display":"subjunctive"},
			{"value":"i", "display":"indicative"},
			{"value":"j", "display":"jussive"}]
		},
		{"name":"stt",
		 "display":"state",
			"type":"list",
			"values":[
			{"value":"u", "display":"unsepcified"},
			{"value":"i", "display":"indefinite"},
			{"value":"d", "display":"definite"},
			{"value":"c", "display":"construct"}]
		},
		{"name":"cas",
		 "display":"case",
			"type":"list",
			"values":[
			{"value":"u", "display":"unsepcified"},
			{"value":"n", "display":"nominative"},
			{"value":"g", "display":"accusative"},
			{"value":"a", "display":"genitive"}]
		},
		{"name":"rat",
		 "display":"rationality",
			"type":"list",
			"values":[
			{"value":"u", "display":"unsepcified"},
			{"value":"r", "display":"rational"},
			{"value":"i", "display":"irrational"}]
		},
		{"name":"gloss",
		 "display":"Gloss",
			"type":"lexical"
		}
	],
"defaultFeatures":[
		{"pos":"nom",
			"features":[
				{"name":"per",
					"value":"N/A"
				},
				{"name":"asp",
					"value":"N/A"
				},
				{"name":"vox",
					"value":"N/A"
				},
				{"name":"mod",
					"value":"N/A"
				},
				{"name":"gen",
					"value":"m"
				},
				{"name":"num",
					"value":"s"
				},
				{"name":"stt",
					"value":"i"
				},
				{"name":"cas",
					"value":"u"
				},
				{"name":"rat",
					"value":"y"
				}
			]
		},
		{"pos":"vrb",
			"features":[
				{"name":"per",
					"value":"3"
				},
				{"name":"asp",
					"value":"p"
				},
				{"name":"vox",
					"value":"u"
				},
				{"name":"mod",
					"value":"u"
				},
				{"name":"gen",
					"value":"m"
				},
				{"name":"num",
					"value":"s"
				},
				{"name":"stt",
					"value":"N/A"
				},
				{"name":"cas",
					"value":"N/A"
				},
				{"name":"rat",
					"value":"N/A"
				}
			]
		},
		{"pos":"vrb-pass",
			"features":[
				{"name":"per",
					"value":"3"
				},
				{"name":"asp",
					"value":"p"
				},
				{"name":"vox",
					"value":"u"
				},
				{"name":"mod",
					"value":"u"
				},
				{"name":"gen",
					"value":"m"
				},
				{"name":"num",
					"value":"s"
				},
				{"name":"stt",
					"value":"N/A"
				},
				{"name":"cas",
					"value":"N/A"
				},
				{"name":"rat",
					"value":"N/A"
				}
			]
		},
		{"pos":"prt",
			"features":[
				{"name":"per",
					"value":"N/A"
				},
				{"name":"asp",
					"value":"N/A"
				},
				{"name":"vox",
					"value":"N/A"
				},
				{"name":"mod",
					"value":"N/A"
				},
				{"name":"gen",
					"value":"N/A"
				},
				{"name":"num",
					"value":"N/A"
				},
				{"name":"stt",
					"value":"N/A"
				},
				{"name":"cas",
					"value":"N/A"
				},
				{"name":"rat",
					"value":"N/A"
				}
			]
		},
		{"pos":"pnx",
			"features":[
				{"name":"per",
					"value":"N/A"
				},
				{"name":"asp",
					"value":"N/A"
				},
				{"name":"vox",
					"value":"N/A"
				},
				{"name":"mod",
					"value":"N/A"
				},
				{"name":"gen",
					"value":"N/A"
				},
				{"name":"num",
					"value":"N/A"
				},
				{"name":"stt",
					"value":"N/A"
				},
				{"name":"cas",
					"value":"N/A"
				},
				{"name":"rat",
					"value":"N/A"
				}
			]
		},
		{"pos":"prop",
			"features":[
				{"name":"per",
					"value":"N/A"
				},
				{"name":"asp",
					"value":"N/A"
				},
				{"name":"vox",
					"value":"N/A"
				},
				{"name":"mod",
					"value":"N/A"
				},
				{"name":"gen",
					"value":"m"
				},
				{"name":"num",
					"value":"s"
				},
				{"name":"stt",
					"value":"i"
				},
				{"name":"cas",
					"value":"u"
				},
				{"name":"rat",
					"value":"y"
				}
			]
		},
		{"pos":"err",
			"features":[
				{"name":"per",
					"value":"N/A"
				},
				{"name":"asp",
					"value":"N/A"
				},
				{"name":"vox",
					"value":"N/A"
				},
				{"name":"mod",
					"value":"N/A"
				},
				{"name":"gen",
					"value":"N/A"
				},
				{"name":"num",
					"value":"N/A"
				},
				{"name":"stt",
					"value":"N/A"
				},
				{"name":"cas",
					"value":"N/A"
				},
				{"name":"rat",
					"value":"N/A"
				}
			]
		},
		{"pos":"---",
			"features":[
				{"name":"per",
					"value":"N/A"
				},
				{"name":"asp",
					"value":"N/A"
				},
				{"name":"vox",
					"value":"N/A"
				},
				{"name":"mod",
					"value":"N/A"
				},
				{"name":"gen",
					"value":"N/A"
				},
				{"name":"num",
					"value":"N/A"
				},
				{"name":"stt",
					"value":"N/A"
				},
				{"name":"cas",
					"value":"N/A"
				},
				{"name":"rat",
					"value":"N/A"
				}
			]
		}
	],
"newNodeDefaults":{
		"pos":"NOM",
		"relation":"---",
		"name":"*"
	}
}
