{
"orientation":"l-to-r",
"display_text":"text",
"lemma":"false",
"pos":{
	"values":[
			{"label":"ADJ",
					"key":"a",
					"group":"1"},
			{"label":"ADV",
					"key":"a",
					"group":"1"},
			{"label":"ADP",
					"key":"a",
					"group":"2"},
			{"label":"AUX",
					"key":"a",
					"group":"2"},
			{"label":"CCONJ",
					"key":"c",
					"group":"2"},
			{"label":"DET",
					"key":"d",
					"group":"2"},
			{"label":"INTJ",
					"key":"i",
					"group":"1"},
			{"label":"NOUN",
					"key":"n",
					"group":"1"},
			{"label":"NUM",
					"key":"n",
					"group":"2"},
			{"label":"PROPN",
					"key":"p",
					"group":"1"},
			{"label":"PART",
					"key":"p",
					"group":"2"},
			{"label":"PRON",
					"key":"p",
					"group":"2"},
			{"label":"PUNCT",
					"key":"p",
					"group":"3"},
			{"label":"SCONJ",
					"key":"s",
					"group":"2"},
			{"label":"SYM",
					"key":"s",
					"group":"3"},
			{"label":"VERB",
					"key":"v",
					"group":"1"},
			{"label":"X",
					"key":"x",
					"group":"3"}
		]
	},
"relation":{
	"values":[
			{"label":"advcl",
					"key":"a",
					"group":"2"},
			{"label":"advmod",
					"key":"a",
					"group":"3"},
			{"label":"aux",
					"key":"a",
					"group":"4"},
			{"label":"appos",
					"key":"a",
					"group":"1"},
			{"label":"acl",
					"key":"a",
					"group":"2"},
			{"label":"amod",
					"key":"a",
					"group":"3"},
			{"label":"csubj",
					"key":"c",
					"group":"2"},
			{"label":"ccomp",
					"key":"c",
					"group":"2"},
			{"label":"cop",
					"key":"c",
					"group":"4"},
			{"label":"clf",
					"key":"c",
					"group":"4"},
			{"label":"case",
					"key":"c",
					"group":"4"},
			{"label":"conj",
					"key":"c",
					"group":"5"},
			{"label":"cc",
					"key":"c",
					"group":"5"},
			{"label":"compound",
					"key":"c",
					"group":"6"},
			{"label":"dislocated",
					"key":"d",
					"group":"1"},
			{"label":"discourse",
					"key":"d",
					"group":"3"},
			{"label":"det",
					"key":"d",
					"group":"4"},
			{"label":"dep",
					"key":"d",
					"group":"9"},
			{"label":"expl",
					"key":"e",
					"group":"1"},
			{"label":"fixed",
					"key":"f",
					"group":"6"},
			{"label":"flat",
					"key":"f",
					"group":"6"},
			{"label":"goeswith",
					"key":"g",
					"group":"8"},
			{"label":"iobj",
					"key":"i",
					"group":"1"},
			{"label":"list",
					"key":"l",
					"group":"7"},
			{"label":"mark",
					"key":"m",
					"group":"4"},
			{"label":"nsubj",
					"key":"n",
					"group":"1"},
			{"label":"nmod",
					"key":"n",
					"group":"1"},
			{"label":"nummod",
					"key":"n",
					"group":"1"},
			{"label":"obj",
					"key":"o",
					"group":"1"},
			{"label":"obl",
					"key":"o",
					"group":"1"},
			{"label":"orphan",
					"key":"o",
					"group":"8"},
			{"label":"parataxis",
					"key":"p",
					"group":"7"},
			{"label":"punct",
					"key":"p",
					"group":"9"},
			{"label":"reparandum",
					"key":"r",
					"group":"8"},
			{"label":"root",
					"key":"r",
					"group":"9"},
			{"label":"vocative",
					"key":"v",
					"group":"1"},
			{"label":"xcomp",
					"key":"x",
					"group":"2"}
		]
	},
"features":[
		{"name":"Gender",
		 "display":"Gender",
			"type":"list",
			"values":[
			{"value":"u", "display":"unspecified"},
			{"value":"Masc", "display":"masculine"},
			{"value":"Fem", "display":"feminine"},
			{"value":"Neut", "display":"neuter"},
			{"value":"Com", "display":"common"}]
		},
		{"name":"Number",
		 "display":"Number",
			"type":"list",
			"values":[
			{"value":"u", "display":"unspecified"},
			{"value":"Sing", "display":"singular"},
			{"value":"Dual", "display":"dual"},
			{"value":"Plur", "display":"plural"},
			{"value":"Tri", "display":"trial"},
			{"value":"Pauc", "display":"paucal"},
			{"value":"Grpa", "display":"greater paucal"},
			{"value":"Grpl", "display":"greater plural"},
			{"value":"Inv", "display":"inverse"},
			{"value":"Count", "display":"count plural"},
			{"value":"Ptan", "display":"plural tantum"},
			{"value":"Coll", "display":"collective"}]
		},
		{"name":"Aspect",
		 "display":"Aspect",
			"type":"list",
			"values":[
			{"value":"u", "display":"unspecified"},
			{"value":"Perf", "display":"perfective"},
			{"value":"Imp", "display":"imperfective"},
			{"value":"Prosp", "display":"prospective"},
			{"value":"Prog", "display":"progressive"},
			{"value":"Hab", "display":"habitual"},
			{"value":"Iter", "display":"iterative"}]
		},
		{"name":"Mood",
		 "display":"Mood",
			"type":"list",
			"values":[
			{"value":"u", "display":"unspecified"},
			{"value":"Sub", "display":"subjunctive"},
			{"value":"Ind", "display":"indicative"},
			{"value":"Jus", "display":"jussive"},
			{"value":"Imp", "display":"imperative"},
			{"value":"Cnd", "display":"conditional"},
			{"value":"Pot", "display":"potential"},
			{"value":"Prp", "display":"purposive"},
			{"value":"Qot", "display":"quotative"},
			{"value":"Opt", "display":"optative"},
			{"value":"Des", "display":"desiderative"},
			{"value":"Nec", "display":"necessitative"},
			{"value":"Adm", "display":"admirative"}]
		},
		{"name":"Definite",
		 "display":"Definite",
			"type":"list",
			"values":[
			{"value":"u", "display":"unspecified"},
			{"value":"Ind", "display":"indefinite"},
			{"value":"Def", "display":"definite"},
			{"value":"Cons", "display":"construct"},
			{"value":"Spec", "display":"specific indefinite"},
			{"value":"Com", "display":"complex"}]
		},
		{"name":"Case",
		 "display":"Case",
			"type":"list",
			"values":[
			{"value":"u", "display":"unspecified"},
			{"value":"Nom", "display":"nominative"},
			{"value":"Acc", "display":"accusative"},
			{"value":"Gen", "display":"genitive"},
			{"value":"Abs", "display":"absolutive"},
			{"value":"Erg", "display":"ergative"},
			{"value":"Dat", "display":"dative"},
			{"value":"Voc", "display":"vocative"},
			{"value":"Loc", "display":"locative"},
			{"value":"Ins", "display":"instrumental"},
			{"value":"Par", "display":"partative"},
			{"value":"Tem", "display":"temporal"}
			]
		},
		{"name":"Person",
		 "display":"Person",
			"type":"list",
			"values":[
			{"value":"u", "display":"unspecified"},
			{"value":"0", "display":"zero"},
			{"value":"1", "display":"first"},
			{"value":"2", "display":"second"},
			{"value":"3", "display":"third"},
			{"value":"4", "display":"fourth"}
			]
		}
	],
"defaultFeatures":[
		{"pos":"noun",
			"features":[
				{"name":"Aspect",
					"value":"N/A"
				},
				{"name":"Mood",
					"value":"N/A"
				},
				{"name":"Gender",
					"value":"Masc"
				},
				{"name":"Number",
					"value":"Sing"
				},
				{"name":"Definite",
					"value":"Ind"
				},
				{"name":"Case",
					"value":"u"
				},
				{"name":"Person",
					"value":"N/A"
				}
			]
		},
		{"pos":"propn",
			"features":[
				{"name":"Aspect",
					"value":"N/A"
				},
				{"name":"Mood",
					"value":"N/A"
				},
				{"name":"Gender",
					"value":"Masc"
				},
				{"name":"Number",
					"value":"Sing"
				},
				{"name":"Definite",
					"value":"Def"
				},
				{"name":"Case",
					"value":"u"
				},
				{"name":"Person",
					"value":"N/A"
				}
			]
		},
		{"pos":"adj",
			"features":[
				{"name":"Aspect",
					"value":"N/A"
				},
				{"name":"Mood",
					"value":"N/A"
				},
				{"name":"Gender",
					"value":"Masc"
				},
				{"name":"Number",
					"value":"Sing"
				},
				{"name":"Definite",
					"value":"Ind"
				},
				{"name":"Case",
					"value":"u"
				},
				{"name":"Person",
					"value":"N/A"
				}
			]
		},
		{"pos":"adv",
			"features":[
				{"name":"Aspect",
					"value":"N/A"
				},
				{"name":"Mood",
					"value":"N/A"
				},
				{"name":"Gender",
					"value":"Masc"
				},
				{"name":"Number",
					"value":"Sing"
				},
				{"name":"Definite",
					"value":"u"
				},
				{"name":"Case",
					"value":"u"
				},
				{"name":"Person",
					"value":"N/A"
				}
			]
		},
		{"pos":"num",
			"features":[
				{"name":"Aspect",
					"value":"N/A"
				},
				{"name":"Mood",
					"value":"N/A"
				},
				{"name":"Gender",
					"value":"N/A"
				},
				{"name":"Number",
					"value":"N/A"
				},
				{"name":"Definite",
					"value":"N/A"
				},
				{"name":"Case",
					"value":"N/A"
				},
				{"name":"Person",
					"value":"N/A"
				}
			]
		},
		{"pos":"verb",
			"features":[
				{"name":"Aspect",
					"value":"Perf"
				},
				{"name":"Mood",
					"value":"u"
				},
				{"name":"Gender",
					"value":"Masc"
				},
				{"name":"Number",
					"value":"Sing"
				},
				{"name":"Definite",
					"value":"N/A"
				},
				{"name":"Case",
					"value":"N/A"
				},
				{"name":"Person",
					"value":"3"
				}
			]
		},
		{"pos":"aux",
			"features":[
				{"name":"Aspect",
					"value":"Perf"
				},
				{"name":"Mood",
					"value":"u"
				},
				{"name":"Gender",
					"value":"Masc"
				},
				{"name":"Number",
					"value":"Sing"
				},
				{"name":"Definite",
					"value":"N/A"
				},
				{"name":"Case",
					"value":"N/A"
				},
				{"name":"Person",
					"value":"N/A"
				}
			]
		},
		{"pos":"cconj",
			"features":[
				{"name":"Aspect",
					"value":"N/A"
				},
				{"name":"Mood",
					"value":"N/A"
				},
				{"name":"Gender",
					"value":"N/A"
				},
				{"name":"Number",
					"value":"N/A"
				},
				{"name":"Definite",
					"value":"N/A"
				},
				{"name":"Case",
					"value":"N/A"
				},
				{"name":"Person",
					"value":"N/A"
				}
			]
		},
		{"pos":"sconj",
			"features":[
				{"name":"Aspect",
					"value":"N/A"
				},
				{"name":"Mood",
					"value":"N/A"
				},
				{"name":"Gender",
					"value":"N/A"
				},
				{"name":"Number",
					"value":"N/A"
				},
				{"name":"Definite",
					"value":"N/A"
				},
				{"name":"Case",
					"value":"N/A"
				},
				{"name":"Person",
					"value":"N/A"
				}
			]
		},
		{"pos":"part",
			"features":[
				{"name":"Aspect",
					"value":"N/A"
				},
				{"name":"Mood",
					"value":"N/A"
				},
				{"name":"Gender",
					"value":"N/A"
				},
				{"name":"Number",
					"value":"N/A"
				},
				{"name":"Definite",
					"value":"N/A"
				},
				{"name":"Case",
					"value":"N/A"
				},
				{"name":"Person",
					"value":"N/A"
				}
			]
		},
		{"pos":"pron",
			"features":[
				{"name":"Aspect",
					"value":"N/A"
				},
				{"name":"Mood",
					"value":"N/A"
				},
				{"name":"Gender",
					"value":"u"
				},
				{"name":"Number",
					"value":"u"
				},
				{"name":"Definite",
					"value":"N/A"
				},
				{"name":"Case",
					"value":"N/A"
				},
				{"name":"Person",
					"value":"u"
				}
			]
		},
		{"pos":"det",
			"features":[
				{"name":"Aspect",
					"value":"N/A"
				},
				{"name":"Mood",
					"value":"N/A"
				},
				{"name":"Gender",
					"value":"N/A"
				},
				{"name":"Number",
					"value":"N/A"
				},
				{"name":"Definite",
					"value":"N/A"
				},
				{"name":"Case",
					"value":"N/A"
				},
				{"name":"Person",
					"value":"N/A"
				}
			]
		},
		{"pos":"intj",
			"features":[
				{"name":"Aspect",
					"value":"N/A"
				},
				{"name":"Mood",
					"value":"N/A"
				},
				{"name":"Gender",
					"value":"N/A"
				},
				{"name":"Number",
					"value":"N/A"
				},
				{"name":"Definite",
					"value":"N/A"
				},
				{"name":"Case",
					"value":"N/A"
				},
				{"name":"Person",
					"value":"N/A"
				}
			]
		},
		{"pos":"sym",
			"features":[
				{"name":"Aspect",
					"value":"N/A"
				},
				{"name":"Mood",
					"value":"N/A"
				},
				{"name":"Gender",
					"value":"N/A"
				},
				{"name":"Number",
					"value":"N/A"
				},
				{"name":"Definite",
					"value":"N/A"
				},
				{"name":"Case",
					"value":"N/A"
				},
				{"name":"Person",
					"value":"N/A"
				}
			]
		},
		{"pos":"x",
			"features":[
				{"name":"Aspect",
					"value":"N/A"
				},
				{"name":"Mood",
					"value":"N/A"
				},
				{"name":"Gender",
					"value":"N/A"
				},
				{"name":"Number",
					"value":"N/A"
				},
				{"name":"Definite",
					"value":"N/A"
				},
				{"name":"Case",
					"value":"N/A"
				},
				{"name":"Person",
					"value":"N/A"
				}
			]
		},
		{"pos":"adp",
			"features":[
				{"name":"Aspect",
					"value":"N/A"
				},
				{"name":"Mood",
					"value":"N/A"
				},
				{"name":"Gender",
					"value":"N/A"
				},
				{"name":"Number",
					"value":"N/A"
				},
				{"name":"Definite",
					"value":"N/A"
				},
				{"name":"Case",
					"value":"N/A"
				},
				{"name":"Person",
					"value":"N/A"
				}
			]
		},
		{"pos":"punct",
			"features":[
				{"name":"Aspect",
					"value":"N/A"
				},
				{"name":"Mood",
					"value":"N/A"
				},
				{"name":"Gender",
					"value":"N/A"
				},
				{"name":"Number",
					"value":"N/A"
				},
				{"name":"Definite",
					"value":"N/A"
				},
				{"name":"Case",
					"value":"N/A"
				},
				{"name":"Person",
					"value":"N/A"
				}
			]
		}
	],
"newNodeDefaults":{
		"pos":"NOUN",
		"relation":"dep",
		"name":"*"
	}
}
